<app-header-padrao></app-header-padrao>

<main class="menu-principal-main">
    <app-carregando *ngIf="carregando"></app-carregando>

    <ng-container *ngIf="!carregando">
        <div class="corpo">
            <h1>Busca de Personagens</h1>
            <div class="pesquisa">
                <label for="nomeDoPersonagemPesquisa"><strong>Nome do personagem</strong></label>
                <div class="pesquisa-div">
                    <input id="nomeDoPersonagemPesquisa" type="text" placeholder="Search" [formControl]="nomeDoPersonagemPesquisa">
                    <i class="fa fa-search lupa"></i>
                </div>
            </div>

            <table class="tabela-personagens">
                <thead>
                    <tr>
                        <th>Personagem</th>
                        <th>Séries</th>
                        <th>Eventos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let personagem of listaPersonagens" class="card-personagem" (click)="mostrarDetalhamentoPersonagem(personagem)">
                        <td class="personagem">
                            <div class="personagem-div">
                                <img class="thumbnail" src="{{ personagem.thumbnail.path }}/standard_medium.{{ personagem.thumbnail.extension }}" alt="{{ personagem.name }}">
                                <span class="nome-personagem"><strong>{{ personagem.name }}</strong></span>
                            </div>
                        </td>
                        <td class="series">
                            <div *ngFor="let serie of personagem.series.items, index as i" class="nome-serie">
                                <span *ngIf="i < 4">{{ serie.name.slice(0, 59) }}</span>
                                <span *ngIf="i == 4">+{{ personagem.series.available - i }}</span>
                            </div>
                        </td>
                        <td class="eventos">
                            <div *ngFor="let evento of personagem.events.items, index as i" class="nome-evento">
                                <span *ngIf="i < 4">{{ evento.name.slice(0, 59) }}</span>
                                <span *ngIf="i == 4">+{{ personagem.events.available - i }}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</main>

<footer class="menu-principal-footer">
    <app-paginacao [tamanhoLista]="totalListaPersonagens" [(pagina)]="this.pagina" (paginaChange)="buscarListaPersonagens()"></app-paginacao>
</footer>
