
/* -- MAIN -- */
.menu-principal-main {
    background-color: #E5E5E5;
    height: calc(100vh - 64px);
    /* height: 100%; */
    font-family: sans-serif;
}
.menu-principal-main > .corpo {
    padding: 40px 113px;
    background-color: #E5E5E5;
    color: #555555;
    /* min-height: calc(100vh - 64px); */
}
.card-personagem {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 4px;
    opacity: 1;
    padding: 20px;
}
.card-personagem .titulo {
    display: flex;
}
.card-personagem .titulo .thumbnail {
    border-radius: 4px;
    opacity: 1;
    border: solid 5px darkred;
    height: 100px;
}
.card-personagem .titulo .personagem {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}
.card-personagem .titulo .personagem .nome {
    font-size: 32px;
}
.card-personagem .titulo .personagem .descricao {
    font-size: 16px;
}
.card-personagem .informacoes {
    padding-top: 20px;
}
.card-personagem .informacoes .info {
    margin-bottom: 10px;
}
.card-personagem .informacoes > div:not(.info) {
    background: #F5F5F5;
    box-shadow: 0px 0px 5px #00000033;
    margin-bottom: 10px;
    /* padding: 10px; */
}
.card-personagem .informacoes .series div, 
.card-personagem .informacoes .comics div, 
.card-personagem .informacoes .stories div, 
.card-personagem .informacoes .events div {
    /* padding: 0px 10px; */
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.card-personagem .informacoes .series div i, 
.card-personagem .informacoes .comics div i, 
.card-personagem .informacoes .stories div i, 
.card-personagem .informacoes .events div i {
    transition: 1s;
}
.card-personagem .informacoes .lista {
    list-style: none;
    margin: 0px;
    overflow: hidden;
    transition: 1s;
}
.card-personagem .informacoes .lista.ativa {
    list-style: none;
    transition: 1s;
}


@media only screen and (max-width: 768px) {

    .menu-principal-main > .corpo {
        padding: 24px;
    }
    .card-personagem .titulo .thumbnail {
        height: 75px;
    }
    .card-personagem .titulo .personagem .nome {
        font-size: 24px;
    }
    .card-personagem .titulo .personagem .descricao {
        font-size: 14px;
    }
    .card-personagem .informacoes {
        font-size: 14px;
    }
    .card-personagem .informacoes .series ul, 
    .card-personagem .informacoes .comics ul, 
    .card-personagem .informacoes .stories ul, 
    .card-personagem .informacoes .events ul {
        padding: 0px 10px;
        overflow-x: auto;
        white-space: nowrap;
    }
}

