
/* -- MAIN -- */
.menu-principal-main {
    background-color: #E5E5E5;
    height: calc(100vh - 64px);
    /* height: 100%; */
    font-family: sans-serif;
}
.menu-principal-main > .corpo {
    padding: 40px 113px;
    background-color: #E5E5E5;
    color: #555555;
    /* min-height: calc(100vh - 64px); */
}
.card-personagem {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 4px;
    opacity: 1;
    padding: 20px;
}
.card-personagem .titulo {
    display: flex;
}
.card-personagem .titulo .thumbnail {
    border-radius: 4px;
    opacity: 1;
    border: solid 5px darkred;
    height: 156px;
}
.card-personagem .titulo .personagem {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}
.card-personagem .titulo .personagem .nome {
    font-size: 32px;
}
.card-personagem .titulo .personagem .descricao {
    font-size: 16px;
}
.card-personagem .informacoes {
    padding-top: 20px;
}
.card-personagem .informacoes .info {
    margin-bottom: 10px;
}
.card-personagem .informacoes > div:not(.info) {
    background: #F5F5F5;
    box-shadow: 0px 0px 5px #00000033;
    margin-bottom: 10px;
    /* padding: 10px; */
}
.card-personagem .informacoes .series > div, 
.card-personagem .informacoes .comics > div, 
.card-personagem .informacoes .stories > div, 
.card-personagem .informacoes .events > div {
    /* padding: 0px 10px; */
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.card-personagem .informacoes .series div i, 
.card-personagem .informacoes .comics div i, 
.card-personagem .informacoes .stories div i, 
.card-personagem .informacoes .events div i {
    transition: 1s;
}
.card-personagem .informacoes .lista {
    list-style: none;
    margin: 0px;
    overflow: hidden;
    transition: 1s;
    padding: 0px 0px 0px 10px;
}
.card-personagem .informacoes .lista li {
    display: flex;
    padding: 5px;
    max-height: 154px;
    overflow: hidden;
}
.card-personagem .informacoes .lista li img {
    border-radius: 4px;
    border: solid 2px #555555;
    height: 150px;
}
.card-personagem .informacoes .lista li div {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    
    position: relative;
}
.card-personagem .informacoes .lista li div .nome-lista {
    font-size: 18px;
}
.card-personagem .informacoes .lista li div span:not(.nome-lista) {
    font-size: 14px;
    max-height: 95px;
    overflow: hidden;
}
.card-personagem .informacoes .lista li div .mais-informacoes {
    position: absolute;
    bottom: 0px;
    left: 10px;
    background: #ec1d24;
    color: white;
    border-radius: 3px;
    padding: 3px;
    width: 125px;
    cursor: pointer;
}
.card-personagem .informacoes .lista.ativa {
    list-style: none;
    transition: 1s;
}


@media only screen and (max-width: 768px) {

    .menu-principal-main > .corpo {
        padding: 24px;
    }
    .card-personagem .titulo {
        flex-direction: column;
        align-items: center;
    }
    .card-personagem .titulo .thumbnail {
        /* height: 75px;
        width: 75px; */
        height: 156px;
        width: 250px;
        overflow: hidden;
    }
    .card-personagem .titulo .personagem {
        padding: 10px 0px 0px 0px;
    }
    .card-personagem .titulo .personagem .nome {
        font-size: 24px;
    }
    .card-personagem .titulo .personagem .descricao {
        font-size: 14px;
    }
    .card-personagem .informacoes {
        font-size: 14px;
    }
    .card-personagem .informacoes .series .lista, 
    .card-personagem .informacoes .comics .lista, 
    .card-personagem .informacoes .stories .lista, 
    .card-personagem .informacoes .events .lista {
        padding: 0px 5px;
        /* overflow-x: auto; */
        /* white-space: nowrap; */
    }
    .card-personagem .informacoes .series .lista li, 
    .card-personagem .informacoes .comics .lista li, 
    .card-personagem .informacoes .stories .lista li, 
    .card-personagem .informacoes .events .lista li {
        padding: 5px;
        max-height: 154px;
    }
    .card-personagem .informacoes .series .lista li div span:not(.nome-lista), 
    .card-personagem .informacoes .comics .lista li div span:not(.nome-lista), 
    .card-personagem .informacoes .stories .lista li div span:not(.nome-lista), 
    .card-personagem .informacoes .events .lista li div span:not(.nome-lista) {
        display: none;
    }
}

