<app-header-padrao></app-header-padrao>

<main class="menu-principal-main">
    <app-carregando *ngIf="carregando"></app-carregando>

    <ng-container *ngIf="!carregando">
        <div class="corpo">
            <div class="card-personagem">
                <div class="titulo">
                    <img class="thumbnail" src="{{ personagem.thumbnail.path }}/landscape_amazing.{{ personagem.thumbnail.extension }}" alt="{{ personagem.name }}">
                    <div class="personagem">
                        <span class="nome"><strong>{{ personagem.name }}</strong></span>
                        <span class="descricao">
                            {{ ( personagem.description.length > 600 ? personagem.description.slice(0, 599).concat('...') : personagem.description ) || 'Nenhuma descrição disponivel.' }}
                        </span>
                    </div>
                </div>
                <div class="informacoes">
                    <div class="info">Algumas informações sobre {{ personagem.name }}:</div>
                    <div class="series">
                        <div (click)="mostrarLista(listaSeriesHTML, iconeSeries, listaSeries.length)">
                            <span><strong>Series</strong></span>
                            <i #iconeSeries class="fa fa-chevron-down"></i>
                        </div>
                        <ul #listaSeriesHTML class="lista" style="max-height: 0px">
                            <li *ngFor="let serie of listaSeries">
                                <img src="{{ serie.thumbnail.path }}/portrait_medium.{{ serie.thumbnail.extension }}" alt="{{ serie.title }}">
                                <div>
                                    <span class="nome-lista"><strong>{{ serie.title }}</strong></span>
                                    <span>{{ serie.description }}</span>
                                    <button (click)="abrirNovaTab(serie.urls[0].url)" class="mais-informacoes">Mais informações</button>
                                </div>
                            </li>
                            <li *ngIf="listaSeries.length == 0">Nenhuma serie encontrada.</li>
                        </ul>
                    </div>
                    <div class="comics">
                        <div (click)="mostrarLista(listaComicsHTML, iconeComics, listaComics.length)">
                            <span><strong>Comics</strong></span>
                            <i #iconeComics class="fa fa-chevron-down"></i>
                        </div>
                        <ul #listaComicsHTML class="lista" style="max-height: 0px">
                            <li *ngFor="let comic of listaComics">
                                <img src="{{ comic.thumbnail.path }}/portrait_medium.{{ comic.thumbnail.extension }}" alt="{{ comic.title }}">
                                <div>
                                    <span class="nome-lista"><strong>{{ comic.title }}</strong></span>
                                    <span>{{ comic.description }}</span>
                                    <button (click)="abrirNovaTab(comic.urls[0].url)" class="mais-informacoes">Mais informações</button>
                                </div>
                            </li>
                            <li *ngIf="listaComics.length == 0">Nenhuma comic encontrada.</li>
                        </ul>
                    </div>
                    <div class="stories">
                        <div (click)="mostrarLista(listaStoriesHTML, iconeStories, listaStories.length, false)">
                            <span><strong>Historias</strong></span>
                            <i #iconeStories class="fa fa-chevron-down"></i>
                        </div>
                        <ul #listaStoriesHTML class="lista" style="max-height: 0px">
                            <li *ngFor="let story of listaStories">
                                <span class="nome-lista">{{ story.title }}</span>
                            </li>
                            <li *ngIf="listaStories.length == 0">Nenhuma historia encontrada.</li>
                        </ul>
                    </div>
                    <div class="events">
                        <div (click)="mostrarLista(listaEventsHTML, iconeEvents, listaEvents.length)">
                            <span><strong>Eventos</strong></span>
                            <i #iconeEvents class="fa fa-chevron-down"></i>
                        </div>
                        <ul #listaEventsHTML class="lista" style="max-height: 0px">
                            <li *ngFor="let event of listaEvents">
                                <img src="{{ event.thumbnail.path }}/portrait_medium.{{ event.thumbnail.extension }}" alt="{{ event.title }}">
                                <div>
                                    <span class="nome-lista"><strong>{{ event.title }}</strong></span>
                                    <span>{{ event.description }}</span>
                                    <button (click)="abrirNovaTab(event.urls[0].url)" class="mais-informacoes">Mais informações</button>
                                </div>
                            </li>
                            <li *ngIf="listaEvents.length == 0">Nenhum evento encontrado.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</main>