/* You can add global styles to this file, and also import other style files */


body {
    margin: 0px;
}

/* Alguns estilos globais genéricos para facilitar o projeto */
.display-flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}